<%- include('custom/header'); %>
<title>Pembayaran || WebNode</title>
<%- include('custom/navbar'); %>
<div class='container'>
    <div class='row' style='padding-top:25px; padding-bottom:25px;'>
        <div class='col-md-12'>
            <div id='mainContentWrapper'>
                <div class="col-md-8 col-md-offset-2">
                    <h2 style="text-align: center;">
                        Konfirmasi Pesanan
                    </h2>
                    <hr/>                    
                    <div class="shopping_cart">
                        <form class="form-horizontal" role="form" action="/user/pengiriman" method="post" id="payment-form">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Review total harga</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="items">
                                                <div class="col-md-13">
                                                    <table class="table table-striped">
                                                        
                                                            <div style="text-align: center;">
                                                                <h3>Order Total</h3>
                                                                <h3><span style="color:green;">Rp. <%= data.total %>></span></h3>
                                                            </div>
                                                        
                                                    </table>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <div style="text-align: center; width:100%;"><a style="width:100%;"
                                                                                        data-toggle="collapse"
                                                                                        data-parent="#accordion"
                                                                                        href="#collapseTwo"
                                                                                        class=" btn btn-success"
                                                                                        onclick="$(this).fadeOut(); $('#payInfo').fadeIn();">
                                                                                        Selanjutnya»</a></div>
                                    </h4>
                                </div>
                            </div>
                    <!-- ########################## LANJUTAN -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Informasi Penerima</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <b>Masukan alamat pengiriman barang</b>                                          
                                        <br/><br/>
                                        <table class="table table-striped" style="font-weight: bold;">
                                            <tr>
                                                <td style="width: 175px;">
                                                    <label for="id_email">Email :</label></td>
                                                <td>
                                                    <input class="form-control" id="id_email" name="email"
                                                    required="required" type="email" value="<%= mail %>"/>                                                       
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">
                                                    <label for="id_first_name">Nama Depan :</label></td>
                                                <td>
                                                    <input class="form-control" id="id_first_name" name="nmDepan"
                                                    required="required" type="text"/>                                                                                             
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">
                                                    <label for="id_last_name">Nama Belakang :</label></td>
                                                <td>
                                                    <input class="form-control" id="id_last_name" name="nmBelakang"
                                                    required="required" type="text"/> 
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">
                                                    <label for="id_address_line_1">Alamat :</label></td>
                                                <td>
                                                    <input class="form-control" id="id_address_line_1"
                                                    name="alamat" required="required" type="text"/>                                                                                               
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">
                                                    <label for="id_address_line_2">Kecamatan :</label></td>
                                                <td>
                                                    <input class="form-control" id="id_address_line_2"
                                                    name="kecamatan" type="text"/>  
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">
                                                    <label for="id_city">Kab/kota :</label></td>
                                                <td>
                                                    <input class="form-control" id="id_city" name="kota"
                                                           required="required" type="text"/>                                                                                                                                                
                                                </td>
                                            </tr>                                 
                                            <tr>
                                                <td style="width: 175px;">
                                                    <label for="id_postalcode">Kode pos :</label></td>
                                                <td>
                                                    <input class="form-control" id="id_postalcode" name="kodepos"
                                                           required="required" type="text"/> 
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 175px;">
                                                    <label for="id_phone">Nomer hp:</label></td>
                                                <td>
                                                    <input class="form-control" id="id_phone" name="hp" type="text"/>                                                                                         
                                                    <input type="hidden" name="id_pembeli" value="<%= data.id_pembeli %>"/>
                                                    <input type="hidden" name="total" value=" <%= data.total %>"/>
                                                    <input type="hidden" name="id_pesan" value=" <%= data.id_pesan %>"/>
                                                </td>
                                            </tr>
                                           
                                        </table>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
                                                    <input type="submit" id="bayar" class="btn btn-success btn-lg" style="width:100%;" value="Bayar">                                                                                    
                                        <br/>
                                        <div style="text-align: left;"><br/>                                            
Dengan mengirimkan pesanan ini, Anda menyetujui perjanjian penagihan toko kami, dan ketentuan layanan. Jika Anda memiliki pertanyaan tentang produk atau layanan kami, silakan hubungi kami sebelum melakukan pemesanan.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        
$(document).on('click', '#bayar', function(e) {
    e.preventDefault();
    swal("Are you sure you want to do this?", {
            buttons: ["Batal", true],
        }).then(function (result) {
        $('#payment-form').submit();});		
});
        
    </script>